<h2>Turmas e Alunos prontos para emissão do diploma </h2>
  <div class="basic-container">
  <mat-accordion >     
  <mat-expansion-panel *ngFor="let turma of turmasList"> 
    <mat-expansion-panel-header>
      <mat-panel-title>{{turma.curso}}</mat-panel-title>
      <mat-panel-description> <mat-panel-description> <button mat-raised-button color="accent" (click)="openDialog($event,turma.curso)">Iniciar processo</button> </mat-panel-description></mat-panel-description>
    </mat-expansion-panel-header>
    <mat-nav-list>
      <div *ngFor="let aluno of alunosList">
        <mat-list-item *ngIf="aluno.turma==turma.curso">
          <span class="badge">{{aluno.nome}} </span> - {{aluno.matricula}} 
          <mat-form-field>
            <input matInput placeholder="Livro/Página">
          </mat-form-field>
          <button mat-raised-button color="primary" (click)="openPDF($event,aluno.nome)">Visualizar PDF</button> 
          <!-- <a matLine target="_blank" href="https://previews.123rf.com/images/radub85/radub851302/radub85130200229/18128234-Blank-Diploma-Document-With-Golden-Ribbon-Isolated-On-White-Stock-Vector.jpg">Clique para ver PDF</a>  -->
        </mat-list-item>
      </div>
    </mat-nav-list> 
  </mat-expansion-panel>
  </mat-accordion> 
</div>
<hr>

<h2>Em processo de emissão do diploma </h2>
<div>
  <mat-accordion >     
    <mat-expansion-panel *ngFor="let turma of turmasinprocessList"> 
      <mat-expansion-panel-header>
        <mat-panel-title>{{turma.curso}}</mat-panel-title> 
        <!-- <mat-panel-description> Livro/Página: {{turma.pagelivro}}</mat-panel-description> -->
      </mat-expansion-panel-header>
      <mat-nav-list>
          <div *ngFor="let aluno of alunosList">
            <mat-list-item *ngIf="aluno.turma==turma.curso">
              <span class="badge">{{aluno.nome}} </span> - {{aluno.matricula}} 
              <mat-form-field>
                <input matInput placeholder="Livro/Página">
              </mat-form-field>
              <button mat-raised-button color="primary" (click)="openPDF($event,aluno.nome)">Visualizar PDF</button> 
              <!-- <a matLine target="_blank" href="https://previews.123rf.com/images/radub85/radub851302/radub85130200229/18128234-Blank-Diploma-Document-With-Golden-Ribbon-Isolated-On-White-Stock-Vector.jpg">Clique para ver PDF</a>  -->
            </mat-list-item>
          </div>
      </mat-nav-list>
      
      <!-- <mat-form-field>
        <input matInput placeholder="First name">
      </mat-form-field> -->
    </mat-expansion-panel>
  </mat-accordion>  
</div>
<hr>
<h2>Concluídos </h2>
<div>


</div>


<div class=teste>
    <form>
        <div class="form-row">
    
            <div class="col-md-5">
            <input type="text" name="matricula" id="matricula" [(ngModel)]="newAluno.matricula" placeholder="Matricula" class="form-control">
            </div>
            <div class="col-md-5">
            <input name="nome" id="nome" [(ngModel)]="newAluno.nome" placeholder="Nome" class="form-control">
            </div>
            <div class="col-md-5">
                <input name="turma" id="turma" [(ngModel)]="newAluno.turma" placeholder="Turma" class="form-control">
            </div>
            <div class="col-md-2">
            <button type="submit" class="btn btn-primary" (click)="create()">Add</button>
            </div>
        </div>
    </form>
</div>
<div class=teste>
  <form>
      <div class="form-row">
  
          <div class="col-md-5">
          <input type="text" name="curso" id="curso" [(ngModel)]="newTurma.curso" placeholder="Curso" class="form-control">
          </div>
          <div class="col-md-5">
              <input type="text" name="status" id="curso" [(ngModel)]="newTurma.status" placeholder="Status" class="form-control">
          </div>
          <div class="col-md-2">
          <button type="submit" class="btn btn-primary" (click)="createT()">Add</button>
          </div>
      </div>
  </form>

  <app-files-upload></app-files-upload>

</div>